$normal: #607D8B;

.leaderBoard {
  height: 80vh;
  margin-top: 5%;
  overflow-y: scroll;
}
.leaderInfo {
  height: 5rem;
  border: 1px solid $normal;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leaderInfo:last-child {
  border-bottom: 1px solid $normal;
}
h2 {
  margin: 0;
  color: $normal;
}
.boardContainer {
  width: 80%;
  margin: 0 auto;
}

.winner {
  margin-right: 1rem;
  background-color: #26a69a;
  color: white;
  padding: 0 .5rem;
}
