.GameBoard {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.size_5 {
    width: 250px;
}

.size_10 {
    width: 500px;
}

.size_15 {
    width: 750px;
}

.modal {
  width: 25% !important;
}

.input-field {
  margin-top: 0 !important;
}

.playGround {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

